#docker-compose
COMPOSE_FILE=dc.yml:dc.nginx.yml

#basic
LC_ALL=C.UTF-8
TZ=Asia/Yekaterinburg
PUID=0
PGID=0

#service specified
GITEA_HOST=gitea.nas1.in.arkprojects.space
GITEA_PORT=3000
SSH_PORT=2200
RUN_MODE=prod
USER_UID=1000
USER_GID=1000
