#docker-compose
COMPOSE_FILE=dc.yml:dc.nginx-over-nginx.yml
COMPOSE_PROFILES=over-nginx

#basic
LC_ALL=C.UTF-8
TZ=Asia/Yekaterinburg
PUID=1000
PGID=1000

#service specified
LOLISAFE_HOST=lolisafe.nas1.in.arkprojects.space,lolisafe.nas1.gl.arkprojects.space
LOLISAFE_PORT=9999
